@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 300;
  counter-reset: section;
}

#splitscreen {
    transform: translate3d(0px, 0px, 0px) !important;
  }

  #splitscreen > .section {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    counter-increment: section;
  }

  #splitscreen > .section.active {
    z-index: 1;
  }

  .section__counter::before {
    display: block;
    content: counter(section);
    text-align: center;
    font-size: 50px;
  }

  #splitscreen > .section .section__half {
    flex: 1;
    backface-visibility: hidden;
    transition: all 1s ease 0s;
    display: inherit;
    align-items: center;
    justify-content: center;
    min-width: 300px;
  }

#splitscreen > .section .section__half--light {
    background: #fff;
    transform: translateY(100%);
    
  }
   
  #splitscreen > .section .section__half--dark {
    color: #fff;
    background: #000;
    transform: translateY(-100%);
  }
   
  #splitscreen > .section.active .section__half--light, #splitscreen > .section.active .section__half--dark  {
    transform: translateY(0);
  }
  
  #splitscreen > .section.active ~ .section .section__half--light {
    transform: translateY(-100%);
    color: transparent;
  }
  
  #splitscreen > .section.active ~ .section .section__half--dark {
    transform: translateY(100%);
    color: transparent;
  }