@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 300;
  counter-reset: section;
}

#splitscreen {
    transform: translate3d(0px, 0px, 0px) !important;
  }

  #splitscreen > .section {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    counter-increment: section;
  }

  #splitscreen > .section.active {
    z-index: 1;
  }

  .section__counter::before {
    display: block;
    content: counter(section);
    text-align: center;
    font-size: 50px;
  }

  #splitscreen > .section .section__half--left, #splitscreen > .section .section__half--right {
    flex: 1;
    backface-visibility: hidden;
    transition: all 1s ease 0s;
    display: inherit;
    align-items: center;
    justify-content: center;
  }

#splitscreen > .section .section__half--left {
    color: #000;
    background: #fff;
    transform: translateY(100%);
    
  }
   
  #splitscreen > .section .section__half--right {
    color: #fff;
    background: #000;
    transform: translateY(-100%);
  }
   
  #splitscreen > .section.active .section__half--left, #splitscreen > .section.active .section__half--right  {
    transform: translateY(0);
  }
   
  #splitscreen > .section.active ~ .section .section__half--left {
    transform: translateY(-100%);
  }
   
  #splitscreen > .section.active ~ .section .section__half--right {
    transform: translateY(100%);
  }