@import url('https://fonts.googleapis.com/css?family=Montserrat');

@mixin breakpoint($breakpoint,$direction: $media-direction) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (#{$direction}-width: #{map-get($breakpoints, $breakpoint)}) {
            @content;
        }
    } @else if unitless($breakpoint) {
        $breakpoint: $breakpoint + 0px;
        @media (#{$direction}-width: $breakpoint) {
            @content;
        }
    }
}

// Breakpoints
$media-direction: max; // desktop first
$breakpoints: ('default': '', 'small': 767px, 'medium': 920px, 'large': 1200px) !default;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    counter-reset: section;
}

.hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
}

/* Loader */

.loader {
    transition: 1s all;
    z-index: 9999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-flex;
    background: #fff;
    justify-content: center;
    align-items: center;
}

/* Signal */

.signal {
  border: 5px solid #333;
  border-radius: 30px;
  height: 30px;
  left: 50%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 30px;

  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

/* Splitscreen */

.splitscreen {
    transition: 1s all;
    transform: translate3d(0px, 0px, 0px) !important;
    display: block;

    .section {
        display: flex;
        flex-wrap: wrap-reverse;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        counter-increment: section;

        // Refactor
        &.active {
            z-index: 1;

            .section__half {
                transform: translateX(0);
            }
            ~ .section .section__half {
                &--light {
                    transform: translateX(-100%);
                    color: transparent;
                }
                &--dark {
                    transform: translateX(100%);
                    color: transparent;
                }
            }
        }

        &__half {
            flex: 1;
            backface-visibility: hidden;
            transition: all 1s ease 0s;
            display: inherit;
            align-items: center;
            justify-content: center;
            min-width: 300px;
            position: relative;
            overflow: hidden;

            &--light {
                background: #fff;
                transform: translateX(100%);
            }

            &--dark {
                color: #fff;
                background: #000;
                transform: translateX(-100%);
            }
        }

        &__counter {
            &::before {
                display: block;
                content: counter(section);
                text-align: center;
                font-size: 50px;
            }
        }

        &__image {
            &--background {
                height: 100%;
            }
        }
    }
}